* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAV */

.navbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.navbar .nav-item a {
    color: darkmagenta;
}

.nav-item {
    margin: 0 10px;
}

.navbar-expand-log .navbar-nav .nav-link{
    padding: 10px 25px;
    font-weight: bold;
}


.navbar .nav-item .btn {
    color: #fff;
    background-color: #f03e3e;
    border: 1px solid transparent;
    border-radius: 0;
}

.nav-link.btn.btn-primary:hover{
    background-color: #fff;
    color: #f03e3e;
    border-color: #f03e3e;
    transition-delay: 1s;
}